.OverallView{
margin-top : 222px;


}

.header{

position: fixed;
top:0;
left:0;
min-height: 200px;
background-color: lightgrey;
width: 100%;
  display: flex;              /* flex container */
  justify-content: flex-end;    /* center children horizontally */
  align-items: center;        /* center vertically */
  gap: 0 20px;          
box-sizing : border-box;
z-index: 1000;



}


.title{
   
  margin: 0px  500px  0px 0px; 
   position: absolute;
  top: 50%;
  left: 50%;
  width: 10%;
  border: 2px solid red;
  padding : 20px ;
  display: flex;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h1 {
  text-shadow: 0 0 0 transparent;
  transition: text-shadow 0.5s ease;
}
h1:hover {
  text-shadow: 2px 2px 10px black;
}

.title h1{

margin: 0px;
	  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: black;
  transition: color 0.5s ease;
  padding: 0px;
}

.title h1:hover{
  
  color : crimson

}
.title img{

width : 150px;
height: 100px;
border-radius: 10px;
padding : 0 0 2px 0;



}

.title img {
  width: 200px;
  border-radius: 10px;
  transition: all 0.5s ease;


}

.title img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px grey);
}

.butto {
  display: flex;
  align-items: center;
   height: 40px;
  padding: 0px;
     border : 2px solid black;
margin-right: 150px ;
 
 
}

 
.butto button{

       font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
background-color: rgb(194, 113, 113);
   height : 50px;
   width : 150px;
   border-radius: 30px;


}

.butto button:hover {

background-color: lightgreen;
cursor : pointer;
border: 2px solid red;


}


.icon{
font-size: 16px;
font-weight: bold;
margin-right : 1px;
border-radius: 4px;
background-color:green
}

.dropDownContainer{
  padding: 5px 10px;
border: 4px solid darkblue;
margin-right : 50px;
}

.dropDownContainer button{
border-radius: 100px;
  padding: 5px 15px;

}


#emoji{
 
font-size: 20px;
}

